{% extends "home-office-kit-layout.html" %}

{% block homeOfficeKit_style %}
<!-- Add css to apply just to this page. For example:
.my-style {
  color: red;
}
The <style> tage is already included. -->
{% endblock %}

{# {% set pageName="Home" %} #}

{% block content %}

<h1 class="govuk-heading-l">
  {{ serviceName }}
</h1>

<p class="govuk-body govuk-!-padding-bottom-7">This is a tiny prototype to demo some changes I'm proposing to the <a href="https://design.homeoffice.gov.uk/components?name=Status%20message" class="govuk-link">Status Message component</a>.</p>

<div class="hods-status-message" role="status" aria-live="polite">
  <h2 class="hods-status-message__status">Needs review</h2>
    <div class="hods-status-message__extra">
      <dl>
        <div>
          <dt>Assigned to </dt>
          <dd>North Team</dd>
        </div>
        <div>
          <dt>Claimed by </dt>
          <dd>Kelvin Phillips</dd>
        </div>
        <div>
          <dt>Review by </dt>
          <dd><time class="hods-date-time" datetime="2024-08-31T19:00:00.000Z">31 August 2024, 19:00</time></dd>
        </div>
      </dl>
    </div>
    <ul class="hods-status-message__actions">
      <li class="hods-status-message__actions__item hods-status-message__actions__item--active"><a class="hods-status-message__actions__link" href="#">Edit task</a></li>
      <li class="hods-status-message__actions__item hods-status-message__actions__item--active"><a class="hods-status-message__actions__link" href="#">Assign task</a></li>
      <li class="hods-status-message__actions__item hods-status-message__actions__item--active"><a class="hods-status-message__actions__link" href="#">Close task</a></li>
    </ul>
</div>

<div class="govuk-grid-row govuk-!-padding-top-9">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Changes made</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Change main status text from div to h2</li>
            <li>Removed the extra div that wrapped the "Needs review" text and the 3 lines of text (don't think it was needed?)</li>
            <li>Add role="status" aria-live="polite" to wrapping container</li>
            <li>Add hods-date-time component</li>
            <li>Changed the 3 lines of a text from a single paragraph with line breaks to a description list (some scruffy CSS here from me, needs improving)
        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Not done</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Ignored potential changes needed to the focus style of the buttons (for now, as out of scope for this component)</li>
        </ul>
    </div>
</div>

{% endblock %}
